@import url("reset.css");
body{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-size: 1.1rem;
}


/*--------------------index页--------------------*/
#index,#classify,#shopping,#personal{
	width: 100%;
	overflow: hidden;
}
.wraper,.classify,.shopping,.personal{
	display: none;
}

/*字体颜色与大小*/
.gray{
	font-size: 1rem;
	color: #cdcdcd;
}
.grays{
	font-size: 1rem;
	color: #717171;
}
.orange{
	font-size: 1rem;
	color: #ff6600;
}
.bigText{
	font-size: 1.2rem;
}
.dis{
	display: block;
}
.clearFix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.pages{
	display: none;
}

.show{
	display: block;
}


/*头部开始*/
#header{
	width: 100%;
	height: 5.7rem;
}
#header nav{
	width: 100%;
	height: 5.5rem;
}
#header nav .nav-top{
	width: 100%;
	height: 3.375rem;
	line-height: 3.375rem;
	position: relative;
	color: #cdcdcd;
}
#header .nav-top .logo{
	width: 2.125rem;
	height: 1.6rem;
	display: inline-block;
	background: url(../img/logo_03.png) no-repeat;
	background-size: cover;
	position: absolute;
	left: 1rem;
	top: 1rem;
}
#header .nav-top .searchArea{
	width: 19.5rem;
	height: 2rem;
	border: 0.05rem solid #ede9ea;
	border-radius: 4px;
	position: absolute;
	left: 3.75rem;
	top: 0.625rem;
}
#header .nav-top .searchArea .s-icon{
	display: inline-block;
	margin-left: 0.625rem;
	margin-bottom: .28rem;
	width: 1.575rem;
	height: 1.575rem;
	background: url(../img/s_03.png) no-repeat;
	background-size: cover;
}
#header .nav-top .searchArea input{
	width: 16rem;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	font-size: 1rem;
	vertical-align: top;
}
#header .nav-top .login{
	color: #9c9899;
	font-size: 1.02rem;
	position: absolute;
	right: 0.625rem;
	top: 0rem;
}

/*顶部导航*/
#header .nav{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
}
#header .nav li{
	float: left;
	font-size: 1rem;
	margin-left: 1rem;
	padding-left: 1rem;
	color: #6a6a6c;
}
#header .nav li:nth-of-type(1){
	padding-left:0;
}
#header .nav .active{
	color: #ff6600;
	border-bottom: 0.2rem solid #ff6600;
	padding-bottom: 0.4rem;
}

/*轮播区*/
.slider-box{
	width: 100%;
	height: 13.425rem;
	overflow: hidden;
}
.swiper-slide{
	height: 100%;
}
.slider-box img{
	width: 100%;
	height: 100%;
	display: block;
}
#index>.pages:nth-of-type(4) .slider-box{
	height: 19.175rem;
}
#index>.pages:nth-of-type(4) .content2,#index>.pages:nth-of-type(5) .content2,#index>.pages:nth-of-type(6) .content2{
	margin-top: .5rem;
}


/*主体部分*/
.contentBox{
	width: 100%;
	position: relative;
	background: #f6f8f7;
	padding-top: .5rem;
	padding-bottom: 3.5rem;
	margin-top: -0.51rem;
}
.contentBox img{
	display: block;
	width: 100%;
	height: 100%;
}
.contentBox .content1{
	width: 100%;
	height: 22.05rem;
	background: #fff;
}
.content1 .title{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	font-size: .88rem;
	box-sizing: border-box;
	padding-left: 1rem;
}
.content1 .title .bigText{
	font-weight: 600;
}
.content1 .details{
	width: 100%;
	height: 19rem;
	position: relative;
}

.content1 .details .detail-left{
	width: 13.5rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.content1 .details .detail-top{
	width: 13.4rem;
	height: 9.43rem;
	position: absolute;
	top: 0;
	right: 0;
}
.content1 .details .detail-bottom{
	width: 13.4rem;
	height: 9.43rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.contentBox .bot-banner{
	height: 10.5rem;
	width: 100%;
	margin-top: .5rem;
	margin-bottom: .5rem;
}



.contentBox .content2{
	width: 100%;
	height: 74.075rem;
	background: #fff;
}
.contentBox .content2 .sku{
	width: 100%;
	height: 16.375rem;
}
.contentBox .content2 .detail{
	width: 100%;
	height: 19.25rem;
	position: relative;
}
.contentBox .content2 .detail .left-detail,.right-detai{
	height: 19.25rem;
	width: 13.42rem;
	position: absolute;
	left: 0;
	top: 0;
}
.contentBox .content2 .detail .right-detail{
	height: 19.25rem;
	width: 13.44rem;
	position: absolute;
	right: 0;
	top: 0;
}
.contentBox .content2 .detail p{
	margin-left: 1rem;
	margin-top: .3rem;
}
.contentBox .content2 .detail p:nth-of-type(1){
	font-weight: 600;
}
/*--------------------index页结束--------------------*/



/*--------------------分类页----------------------*/
.classify .title{
	width: 100%;
	height: 3.2rem;
	background: #f8f3f7;
	text-align: center;
	line-height: 3.2rem;
	color: #6c6e69;
	font-size: 0.8rem;
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: 0.1rem solid #efefef;
	z-index: 50;
}
.classify .title h2{
	width: 6rem;
	margin: 0 auto;
}
.left-icon{
	float: left;
	margin-left: 1.12rem;
}
.right-icon{
	float: right;
	margin-right: 1rem;
}
.left-icon img{
	width: 1.772em;
	position: absolute;
	top: 1rem;
}
.right-icon img{
	width: 1.772em;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
#classify .left-nav{
	width: 5.6rem;
	border-right: 0.1rem solid #efefef;
	text-align: center;
	font-size: 0.7rem;
	padding-bottom: 4rem;
	position: fixed;
	left: 0;
	top: 3.2rem;
}
#classify .left-nav h3{
	font-size: 1.3rem;
	color: #FF6600;
	padding-top: 1.6rem;
	padding-bottom: 1rem;
}
#classify .left-nav ul li{
	padding-bottom: 1em;
	padding-top: 1rem;
	font-size: 1rem;
	color: #363636;
}
#classify .left-nav ul li.active{
	color: #ff6600;
}

#classify .right-content{
	width: 21.3rem;
	font-size: 1rem;
	box-sizing: border-box;
	padding: 0 1.2rem 10rem;
	position: absolute;
	right: 0;
	top: 3.2rem;
}

#classify .right-content .banner img{
	display: block;
	width: 18.6rem;
	margin: 0.2rem auto;
}
#classify .phone-area{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#classify .right-content h4{
	text-align: center;
	color: #e6e4e7;
}
#classify .right-content h4 span{
	color: #363636;
}
#classify .right-content ul{
	margin-top: 2rem;
}
#classify .right-content ul li{
	width: 5.6rem;
	float: left;
	padding: 0rem .3rem 1rem;
	text-align: center;
}
#classify .right-content ul li img{
	width: 3.2rem;
	margin: 0 auto;
}
#classify .right-content ul li p{
	padding: 1rem 0;
	color: #737572;
}
/*----------分类结束------------*/




/*----------------购物车----------------*/
#shopping{
	padding-bottom: 10rem;
}
.shopping .title{
	width: 100%;
	height: 3.2rem;
	background: #f8f3f7;
	text-align: center;
	line-height: 3.2rem;
	color: #6c6e69;
	font-size: 0.8rem;
}

#shopping .login-info{
	padding: 0 1.3rem;
	height: 4rem;
	line-height: 4rem;
}
#shopping .login-info .right-discount{
	margin-top: 1.1rem;
}
#shopping .login-info span:nth-of-type(1){
	float: left;
}
#shopping .login-info span:nth-of-type(2){
	float: right;
	color: #737572;
}
#shopping .shop-car-info{
	height: 3.8rem;
	line-height: 3.8rem;
	background: #efebef;
	text-align: center;
	position: relative;
}
.shop-icon{
	position: absolute;
	width: 3.25rem;
	height: 2.875rem;
	background: url(../img/car.png) no-repeat;
	background-size: cover;
	top: 0.5rem;
	left: 5.2rem;
}
.shop-info{
	font-size: 1rem;
	color: #adaead;
	position: absolute;
	left: 9rem;
}
.stroll{
	padding: 0.2rem 0.8rem;
	font-size: 1rem;
	border: 0.1rem solid #c6c3c6;
	margin-left: 11.5rem;
	color: #555;
}
.recommend{
	
}
.recommend h3{
	height: 2.95rem;
	line-height: 2.95rem;
	padding-left: 1.3rem;
	font-size: 1.2rem;
}
.recommend ul{
	
}
.recommend ul li{
	width: 13.3rem;
	/*height: 13.3rem;*/
	float: left;
}
.recommend ul li img{
	height: 13.3rem;
	display: block;
	width: 100%;
}
.recommend ul li p{
	padding: .5rem 1.2rem 0;
	color: #333;
	font-size: 1rem;
}
.recommend ul li p:nth-of-type(2){
	padding-bottom: .8rem;
	font-size: 1.2rem;
	color: #ff6600;
}
.recommend ul li:nth-of-type(2n){
	margin-left: 0.34rem;
}
/*----------------购物车结束----------------*/


/*----------------个人中心----------------*/
.personal{
	width: 100%;
	background: #f7f7f7;
	padding-bottom: 13rem;
}
.my-order,.indent-info,.discounts,.m-home,.setting{
	width: 100%;	
	background: #fff;
	padding: 0 1rem;
	box-sizing: border-box;
}

.personal .login-register{
	width: 100%;
	height: 5.708rem;
	line-height: 5.708rem;
	background: #f87c08;
	position: relative;
}
.personal .login-bg{
	width: 100%;
	height: 100%;
	background: url(../img/bg_0425a88.png) no-repeat;
	background-size: cover;
}
.personal .login-icon{
	width: 3.2rem;
	height: 3.2rem;
	position: absolute;
	left: 1rem;
	top: 1.3rem;
	background: url(../img/login_03.png) no-repeat;
	background-size: cover;
}
.personal .login-text{
	position: absolute;
	left: 4.8rem;
	font-size: 1rem;
	color: #fff;
}
.personal .my-order{
	height: 2.869rem;
	line-height: 2.869rem;
	border-bottom: 0.05rem solid #ededed;
}
.personal .my-order .right-discount{
	margin-top: .6rem;
}
.personal .indent{
	float: left;
}
.personal .all-indent{
	float: right;
	color: #777976;
	font-size: 1rem;
}
.personal .indent-info{
	height: 6.2447rem;
	border-top: 0.03rem solid #d7d7d7;
}
.indent-info ul li{
	float: left;
	height: 100%;
	line-height: 3rem;
	text-align: center;
	width: 8.3rem;
	position: relative;
	box-sizing: border-box;
	padding-top: 1.2rem;
}
.indent-info ul li .order-icon{
	display: block;
	width: 1.8987rem;
	height: 1.561rem;
	margin: auto;
}
.indent-info ul li:nth-of-type(1) .order-icon{
	background: url(../img/icon1.png) no-repeat;
	background-size: cover;
}
.indent-info ul li:nth-of-type(2) .order-icon{
	background: url(../img/icon2.png) no-repeat;
	background-size: cover;
}
.indent-info ul li:nth-of-type(3) .order-icon{
	background: url(../img/icon3.png) no-repeat;
	background-size: cover;
}
.indent-info ul li span{
	color: #333;
}

.discounts{
	margin-top: 0.63rem;
	height: 3.797468rem;
	line-height: 3.5rem;
}
.left-discount{
	float: left;
	display: inline-block;
	width: 1.814rem;
	height: 1.7em;
	background-size: cover;
	margin-top: .9rem;
	margin-right: 1.3rem;
}
.right-discount{
	float: right;
	display: inline-block;
	width: 1.476rem;
	height: 1.772rem;
	background: url(../img/gt.png) no-repeat;
	background-size: cover;
	margin-top: 1rem;
}
.discounts .left-discount{
	margin-top: .8rem;
	background: url(../img/icon4.png) no-repeat;
	background-size: cover;
}
.m-home{
	margin-top: .63rem;
	height: 7.5949rem;
}
.m-home ul li{
	height: 3.797468rem;
	line-height: 3.79rem;
}
.m-home ul li:nth-of-type(1){
	border-bottom: 0.05rem solid #e1e1e1;
}
.m-home ul li:nth-of-type(1) .left-discount{
	background: url(../img/icon5.png) no-repeat;
	background-size: cover;
}
.m-home ul li:nth-of-type(2) .left-discount{
	background: url(../img/icon6.png) no-repeat;
	background-size: cover;
}
.setting{
	margin-top: .63rem;
	line-height: 3.79rem;
	height: 3.797468rem;
}
.setting .left-discount{
	height: 1.6rem;
	margin-top: 1rem;
	background: url(../img/icon7.png) no-repeat;
	background-size: cover;
}






/*底部*/
.footer{
	width: 100%;
	height: 3.325rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	background: #fff;
	border-top: 0.06rem solid #ccc;
}
.footer ul{
	width: 100%;
	height: 100%;
	line-height: 3.325rem;
}
.footer ul li{
	float: left;
	width: 6.625rem;
	text-align: center;
	color: #717171;
	font-size: 1rem;
}
#foot-nav ul .active{
	color: #ff6600;
}




