*{padding:0;margin:0;list-style-type:none;text-decoration:none;font-family: "Helvitica Neue",
Helvitica,Arial,"Hiragino Sans GB","Microsoft YaHei","Arial Regular","Microsoft JhengHei",
sans-serif,"宋体";}
.nav_top{width: 100%;height: 60px;background-color: #000;font-size: 14px;position: fixed;left:0;top:0;
    z-index: 3;}
.nav_top .nav_list{width: 88%;height: 60px;margin:0 auto;position: relative;overflow: hidden;}
.nav_top .nav_list .logo_btn{position:absolute;width:84px;height:60px;overflow: hidden;
    top:0;left:0;}
.nav_top .nav_list .logo_btn img{position: absolute;top: 50%;margin-top: -12px;}
.nav_top .nav_list .nav_list_detail{margin-left: 100px;}
.nav_top .nav_list .nav_list_detail li{float: left;margin-left: 24px;}
.nav_top .nav_list .nav_list_detail a{line-height: 60px;color: #fff;}
.nav_top .nav_list .nav_list_detail a span{font-size: 8px;}
.nav_top .nav_list .nav_list_detail li a.app{display: block;}
.nav_top .nav_list .login_sign{float: right;}
.nav_top .nav_list .login_sign a{line-height: 60px;color: #fff;margin-left: 5px;}
.nav_top .nav_list .nav_list_detail a:hover,
.nav_top .nav_list .login_sign a:hover{color:#979797;}
.nav_top .app_download{width: 100%;height: 500px;background-color: #000;
    position: relative;display: none;z-index: 3;}
.nav_top .app_download .appimg img{position: absolute;margin-top: 100px;margin-left:70px; }
.nav_top .app_download .appimg a{display:block;width:180px;background-color:#fff;color:#878787;
font-size: 22px;text-align: center;border-radius: 4px;line-height:1.8em;
position: absolute;bottom: 66px;left: 230px;}
.nav_top .app_download .appimg2 img{position: absolute;bottom: 0;left:50%; }
.main{position: relative;top: 60px;}
.carousel{position:relative;width:100%;height:500px;overflow:hidden;font-size: 80px;}
.carousel .images{width: 15000px;height:500px;position:absolute;}
.carousel .images li{float:left;}
.carousel .images_nav{position: absolute;width:100%;height:22px;left:0;bottom: 10px;
    text-align: center;font-size: 0;line-height: 22px;}
.carousel .images_nav li{display:inline-block;width:30px;height:2px;background-color:cornsilk;
    margin-right:14px;cursor: pointer; font-size: 14px;}
.carousel .images_nav li.on{background-color:#4582e0;}
.carousel .images_nav li:hover{width:28px;height: 20px;line-height:20px;color:cornsilk;
    border: 1px solid cornsilk;vertical-align: top;background-color:rgba(15, 26, 50, 0.95);}
.carousel .images_btn .btn{width: 50px;height: 70px;  position: absolute;
    top: 50%;margin-top: -35px;cursor: pointer;}
.carousel .images_btn a{display: block;text-align: center;line-height: 70px;color: white;
    font-family: "宋体";}
.carousel .images_btn .btn_l{left: 0;}
.carousel .images_btn .btn_r{right: 0;}
.wrap1{width:100%;height:680px;background-color: rgb(247,247,247);overflow: hidden;}
.wrap1 .video{width:91.1%;margin:30px auto 0;}
.wrap1 .video .video_nav{width:88%;font-size: 14px;margin-bottom:10px;margin-left:1.55%;
    height:40px;line-height: 40px;}
.wrap1 .video .video_nav .video_nav_head{font-size:24px;font-weight: 400;
    color:rgba(14, 14, 14, 0.81);}
.wrap1 .video .video_nav a{display: inline-block;color:#878787;margin-right: 20px;
    vertical-align: top;}
.wrap1 .video .video_nav a:hover{color: #000;}
.wrap1 .video .video_detail ul li{width:360px;height:300px;float: left;margin-left:1.55%;}
.wrap1 .video .video_detail ul li a.img_container{display:block;width:360px;height:240px;
    position: relative;}
.wrap1 .video .video_detail ul li a.img_container span{position:absolute;}
.wrap1 .video .video_detail ul li a.img_container span.line{width: 30px;height: 1px;
    background-color: #fff;opacity: 0;top:50%;}
.wrap1 .video .video_detail ul li a.img_container span.left_line{left:90px;}
.wrap1 .video .video_detail ul li a.img_container span.right_line{right:90px;}
.wrap1 .video .video_detail ul li a.img_container span.play{width:360px;height:240px;
    line-height: 240px;color:#fff;text-align: center;left:0;top:20px;
    font-size: 20px;opacity: 0;}
.wrap1 .video .video_detail ul li p{width:360px;text-align:center;}
.wrap1 .video .video_detail ul li p a{height:60px;line-height:60px;color:rgba(13, 13, 13, 0.8);}
.wrap2{width:100%;height:690px;overflow: hidden;}
.wrap2 .rec_eva{width:88%;margin:30px auto 0;overflow: hidden;}
.wrap2 .rec_eva .rec{float:left;}
.wrap2 .rec_eva .rec .rec_img,.wrap2 .rec_eva .eva .eva_img{width:540px;height:221px;
    position: relative;overflow: hidden;margin-bottom:24px;}
.wrap2 .rec_eva .rec p,.wrap2 .rec_eva .eva p{color:#fff;font-size: 17px;position: absolute;
width:540px;height:34px;line-height:34px;left:0;bottom:0;text-indent: 6px;
    background:-webkit-linear-gradient(top,rgba(220, 220, 220, 0.11),rgba(11, 11, 11, 0.5)); }
.wrap2 h1{font-size: 24px;font-weight:400;margin-bottom: 15px; }
.wrap2 h1 a{color:rgba(14, 14, 14, 0.81); }
.wrap2 .left_list li,.wrap2 .right_list li{list-style:inside disc;width:540px;height:36px;}
.wrap2 .left_list li a,.wrap2 .right_list li a{display:block;line-height: 36px;
    color:rgba(13, 13, 13, 0.8);}
.wrap2 .rec_eva .eva{float:right;}
.wrap2 .list_author{float:right;font-size:14px;margin-top:-36px;}
.wrap2 .life{width:91.5%;margin:30px auto 0;font-size: 14px;}
.wrap2 .life .life_title{margin-left: 1.68%;margin-bottom: 15px;}
.wrap2 .life .life_title a{height:40px;line-height: 40px;vertical-align: top;color:#878787;
    margin-right:24px;}
.wrap2 .life .life_title a:hover{color:#000;}
.wrap2 .life .life_title h1{display: inline;}
.wrap2 .life ul li{float:left;margin-left: 1.68%;position: relative;}
.wrap2 .life ul li a p{color: white;position: absolute;left:8px;bottom:8px;}
.wrap3{width:100%;height:610px;background-color: rgb(247,247,247);}
.wrap3 .sec_fix{width:89%;margin:0 auto;}
.wrap3 .sec_hand{float: left;width:67.5%;}
.wrap3 .sec_hand .sec_hand_title,.wrap3 .fix .fix_title{width:100%;height:40px;line-height: 40px;
    margin-bottom: 12px;margin-top: 30px;}
.wrap3 .sec_hand .sec_hand_title a{display: inline-block;vertical-align: top;font-size: 14px;color:#878787;
margin-right: 24px;}
.wrap3 .sec_hand .sec_hand_title a:hover{color: black;}
.wrap3 h1{font-size: 24px;font-weight: 400;color:rgba(14, 14, 14, 0.81);}
.wrap3 .fix .fix_title h1 a{color:rgba(14, 14, 14, 0.81);}
.wrap3 .sec_hand .sec_hand_img a{display: inline-block;margin:0 2.22% 2.22% 0;}
.wrap3 .fix{float:right;}
.wrap3 .fix .fix_img{width:100%;height:240px;}
.wrap3 .sec_fix .fix .fix_form{background-color: #fff;height:258px;position: relative;}
.wrap3 .sec_fix .fix .fix_form .fix_form_submit{width:90%;margin:0 auto;}
.wrap3 .sec_fix .fix .fix_form .fix_form_submit p{height: 50px;line-height: 50px;font-size: 14px;
    color:#878787;}
.wrap3 .sec_fix .fix .fix_form .fix_form_submit dt{height:38px;line-height: 38px;border:1px solid black;
text-indent: 5%;color:rgba(22, 22, 22, 0.89);cursor:pointer;}
.wrap3 .sec_fix .fix .fix_form .fix_form_submit dl.fault dt{
    background: url(../images/fix_arrow.png) 96% 50% no-repeat; }
.wrap3 .sec_fix .fix .fix_form .fix_form_submit dl.fault dd{height:273px;border:1px solid black;
    border-top: none;display: none;z-index: 2;position: relative;background-color: #fff;}
.wrap3 .sec_fix .fix .fix_form .fix_form_submit dl.fault dd div{width:96%;margin:0 auto;height:38px;
    line-height: 38px;color:rgba(22, 22, 22, 0.89);border-bottom: 1px solid #e6e6e6;cursor:pointer;}
.wrap3 .sec_fix .fix .fix_form .fix_form_submit dl.fault dd div.last_div{border-bottom: none;}
.wrap3 .sec_fix .fix .fix_form .fix_form_submit dl.price dt{border:none;position:absolute;bottom:21px;
    width:90%;}
.wrap3 .sec_fix .fix .fix_form .fix_form_submit dl.price dt a{display:block;height:40px;line-height:40px;
    background-color:rgb(0,176,109);text-align: center;color:#fff;}
.wrap4{width:100%;height:592px;}
.wrap4 .ceping_tools{width:89%;margin:0 auto;}
.wrap4 .ceping_tools .tools_title{margin:30px 0 13px 0;}
.wrap4 .ceping_tools .tools_title h1 a{font-size: 24px;font-weight: 400;color:rgba(14, 14, 14, 0.81); }
.wrap4 .ceping_tools .tools_detail{width:100%;height:534px;}
.wrap4 .ceping_tools .tools_detail .tools_img{width:67.5%;float: left;}
.wrap4 .ceping_tools .tools_detail .tools_img .toolimg{width:360px;height:244px;float: left;
    margin:0 2.25% 2.7% 0;border:1px solid rgb(236,238,241);text-align: center;}
.wrap4 .ceping_tools .tools_detail .tools_img .toolimg p{height:40px;line-height: 40px;
background:-webkit-linear-gradient(top,rgb(246,247,248),rgb(255,255,255));color:rgb(42,49,59);}
.wrap4 .ceping_tools .tools_detail .tools_chose{float:right;width:32%;height:511px;
    border:1px solid rgb(236,238,241);position: relative;}
.wrap4 .ceping_tools .tools_detail .tools_chose h2{font-size: 18px;border-left: 3px solid #008cff;
    font-weight:100;text-indent: 12px;margin-top:20px;color: #31343b;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_img{text-align: center;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_img img{width:160px;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form{width:90%;margin:20px auto 0;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form p{font-size: 13px;color:#abb0bc;
    height:50px;line-height: 50px;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form p.chose_type_p{position:absolute;
bottom: 133px;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_brand dt,
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_type dt{height:38px;
    line-height:38px;color:#757e91;cursor: pointer;border: 1px solid #cfd2d6;font-size: 13px;
    text-indent:10px;background:url(../images/new_icons.png) 292px -552px no-repeat;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_type{
    position: absolute;top: 381px;width: 90%;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_brand dd,
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_type dd>div{
    border:1px solid #eceef1;border-top:none;display:none;position: relative;z-index: 2;
    background-color:white;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_brand dd div,
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_type dd div div{width:90%;
margin:0 auto;height:48px;line-height:48px;font-size:16px;color:#757e91;border-bottom:1px solid #eceef1;
cursor: pointer;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_brand dd div:hover,
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_type dd div div:hover{
    color:rgb(86,208,254);}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_brand dd div.last_div,
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_type dd div div.last_div{
    border-bottom: none;}
.wrap4 .ceping_tools .tools_detail .tools_chose .tools_chose_form dl.chose_submit dt a{display:block;
    height: 40px;line-height: 40px;background-color: rgb(0,140,255);text-align: center;color:#fff;
position: absolute;bottom:26px;width:90%;}
.wrap5{width:100%;height:722px;background-color:rgb(247,247,247);}
.wrap5 .lab{width:95%;height:722px;margin:0 auto;overflow: hidden;}
.wrap5 .lab .lab_title{width:100%;padding-left: 2.8%;height: 40px;line-height: 40px;margin:30px 0 12px 0;}
.wrap5 .lab .lab_title  a{display:inline-block;color:#878787;font-size:14px;vertical-align:top;
    margin-right:18px; }
.wrap5 .lab .lab_title  a:hover{color: black;}
.wrap5 .lab .lab_title a h1{font-size: 24px;font-weight: 400;color:rgba(14, 14, 14, 0.81);}
.wrap5 .lab .lab_main{width:100%;height:640px;}
.wrap5 .lab .lab_main .lab_img{float:left;margin-left:2.8%;}
.wrap5 .lab .lab_main .lab_img .img_container{display: block;width:550px;height:240px;position: relative;}
.wrap5 .lab .lab_main .lab_img .img_container span.list_bg{width:550px;height:240px;background-color: black;
opacity: 0;position: absolute;left:0;top:0;}
.wrap5 .lab .lab_main .lab_img .img_container span.line{width:30px;height:1px;background-color:#fff;
    position:absolute;opacity: 0;}
.wrap5 .lab .lab_main .lab_img .img_container span.left_line{top: 50%;left:83px;}
.wrap5 .lab .lab_main .lab_img .img_container span.right_line{top: 50%;right:83px;}
.wrap5 .lab .lab_main .lab_img .img_container span.play{position: absolute;width:550px;height:240px;
font-size: 20px;line-height: 240px;text-align: center;top:20px;opacity:0;color: #fff;}
.wrap5 .lab .lab_main .lab_img p{height: 80px;line-height: 80px;font-size: 16px;text-align: center;}
.footer{width:100%;position: relative;top:60px;}
.footer .footer1{width:100%;height:230px;}
.footer .footer1>ul>li{width:20%;float: left;text-align: center;font-size: 16px;
    color:rgba(14, 14, 14, 0.81);margin-top:55px;}
.footer .footer1>ul>li>ul{margin-top:24px;}
.footer .footer1>ul>li>ul>li{margin-bottom: 8px;}
.footer .footer1>ul>li>ul>li a{color:#878787;font-size: 14px;}
.footer .footer1>ul>li>ul>li a:hover{color: black;}
.footer .footer2{width:89%;border-top: 1px solid #f2f2f2;margin:0 auto;font-size: 14px;overflow: hidden;}
.footer .footer2 div{float: left;}
.footer .footer2 div.footer2_1{width:10%;height: 50px;line-height: 50px;color:rgba(14, 14, 14, 0.81);}
.footer .footer2 div.footer2_2{width:90%;}
.footer .footer2 div.footer2_2 a{display:inline-block;color:#878787;height:50px;line-height: 50px;
margin-right: 45px;}
.footer .footer2 div.footer2_2 a:hover{color: black;}
.footer .footer3{text-align: center;border-top: 1px solid #f2f2f2;height: 80px;line-height: 80px;
    font-size: 12px;color:#878787;vertical-align:middle;}
.footer .footer3 .gongshang{width:80px;height:33px;top:12px;}
.footer .footer3 img{position: relative;top:5px;}
.footer .footer3 a{color:#878787;}
.footer .footer4{width: 40px;height: 40px;background:url(../images/footer_up.png) 0 0 no-repeat;
    position: fixed;bottom: 42px;right:22px;display: none;cursor:pointer;}

