.section{
	background-size: cover;
	background-position: center center; 
}
.section:nth-of-type(1){
	/*background-image: url(../img/1ef7f8e1e10cbf0c2dfb242fd363b6d7.jpg);*/
	background-color: #000;
	position: relative;
}
.section:nth-of-type(2){
	background-image: url(../img/177906d482936892e4ac51f46939d665.jpg);
}
.section:nth-of-type(4){
	background-image: url(../img/9418461d5368acb40bf79767f224f94b.jpg);
}
.section:nth-of-type(5){
	background-image: url(../img/1a404ce023e2ca392c0681c6f402a08e.jpg);
}
.section:nth-of-type(6){
	background-image: url(../img/a6ad0dd5dc4e37bc65601fc12252d0cc.jpg);
}
.section:nth-of-type(3) .slide{
	background-size: cover;
	background-position: center center;
}
.section:nth-of-type(3) .slide:nth-of-type(1){
	background-image: url(../img/a8c7f69eb32a0198aaf7839bb99e8535.jpg);
}
.section:nth-of-type(3) .slide:nth-of-type(2){
	background-image: url(../img/72f2835e1027e09b066a8e5e952ea78d.jpg);
}
.section:nth-of-type(3) .slide:nth-of-type(3){
	background-image: url(../img/9763e722cdffee78c94c0fd558920570.jpg);
}
.section:nth-of-type(3) .slide:nth-of-type(4){
	background-image: url(../img/4536d556d27afa4d5f6514533739d8ba.jpg);
}
.nav{
	width: 100%;
	height: 50px;
	position: fixed;
	top: -17px;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,.5);
}
.nav li{
	float: left;
	list-style: none;
	font-size: 16px;
	line-height: 50px;
	margin-left: 10px;
	padding: 0 5px;
	cursor: pointer;
	border-radius: 5px;
}
.nav li a{
	color: #fff;
	text-decoration: none;
	display: block;
}
.section:nth-of-type(1) h1{
	color: #00BFFF;
	font-size: 50px;
	text-shadow: 0px 0px 5px lightcoral;
	margin-top: -20px;
}
.section:nth-of-type(1) p{
	color: #FF8247;
	font-size: 35px;
	text-shadow: 0px 0px 5px #ccc;
	margin-top: -20px;
}
.section:nth-of-type(2) h2{
	font-size: 40px;
	font-weight: 400;
	margin-top: -200px;
	color: orangered;
	text-shadow: 0px 2px 1px #fff;
}
.section:nth-of-type(2) p{
	font-size: 25px;
	margin-top: -80px;
	color: orangered;
	text-shadow: 0px 2px 1px #fff;
}

.section:nth-of-type(3) .slide:nth-of-type(1) h3{
	color: #fff;
	margin-left: -800px;
	text-shadow: 0px 2px 1px orange;
}
.section:nth-of-type(3) .slide:nth-of-type(1) ul{
	color: #fff;
	text-align: left;
	list-style: none;
	margin-left: 190px;
	text-shadow: 0px 2px 1px orange;
}
.section:nth-of-type(3) .slide:nth-of-type(2) h2{
	text-align: left;
	margin-left: 120px;
	margin-top: -150px;
	font-size: 60px;
	text-shadow: 0px 2px 1px orange;
}
.section:nth-of-type(3) .slide:nth-of-type(2) p{
	text-align: left;
	margin-left: 120px;
	font-size: 30px;
	text-shadow: 0px 2px 1px orange;
}
.section:nth-of-type(3) .slide:nth-of-type(3) h2{
	text-align: left;
	margin-left: 300px;
	margin-top: -150px;
	font-size: 60px;
	text-shadow: 0px 2px 1px orange;
}
.section:nth-of-type(3) .slide:nth-of-type(3) p{
	text-align: left;
	margin-left: 300px;
	font-size: 30px;
	text-shadow: 0px 2px 1px orange;
}
.section:nth-of-type(3) .slide:nth-of-type(4) h2{
	font-size: 60px;
	margin-top: -50px;
	text-shadow: 0px 2px 1px orange;
}
.section:nth-of-type(3) .slide:nth-of-type(4) p{
	font-size: 30px;
	text-shadow: 0px 2px 1px orange;
}

.section:nth-of-type(4) h3{
	color: 	#0000EE;
	font-size: 50px;
	text-shadow: 0 2px 5px #fff;
}
.section:nth-of-type(4) p{
	color: #0000EE;
	font-size: 25px;
	text-shadow: 0px 2px 2px #2098D1;
}
.section:nth-of-type(5) li img{
	width: 500px;
	height: 500px;
	border-radius: 50%;
	display: block;
}
.section:nth-of-type(5) li img:hover{
	-webkit-filter:drop-shadow(10px 10px 10px #000) saturate(7.9);
}
.section:nth-of-type(5) ul{
	color: #0000EE;
	font-size: 25px;
	list-style: none;
	text-shadow: 0px 2px 2px #2098D1;
	height: 500px;
	margin-top: 100px;
}
.section:nth-of-type(5) ul li{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
}
.section:nth-of-type(6) h3{
	text-align: left;
	margin-top: -150px;
	margin-left: 100px;
	text-shadow: 0px 2px 1px orange;
}
.section:nth-of-type(6) ul{
	text-align: left;
	margin-left: 100px;
	text-shadow: 0px 2px 1px orange;
}
